# Just essentials of https://github.com/systemd/systemd/blob/master/README

CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_NET=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_SHMEM=y
CONFIG_TMPFS=y

# Not mentioned but required otherwise systemctl doesn't work
CONFIG_UNIX=y

# Remove default options that are not required
CONFIG_WIRELESS=n
CONFIG_NETWORK_FILESYSTEMS=n
