# [*] 64-bit kernel
CONFIG_64BIT=y


# -> General setup
#    [*] Initial RAM filesystem and RAM disk (initramfs/initrd) support
CONFIG_BLK_DEV_INITRD=y
#    [*] Support initial ramdisks compressed using gzip
CONFIG_RD_GZIP=y
#    [ ] Support initial ramdisks compressed using bzip2
CONFIG_RD_BZIP2=n
#    [ ] Support initial ramdisks compressed using LZMA
CONFIG_RD_LZMA=n
#    [ ] Support initial ramdisks compressed using XZ
CONFIG_RD_XZ=n
#    [ ] Support initial ramdisks compressed using LZO
CONFIG_RD_LZO=n
#    [ ] Support initial ramdisks compressed using LZ4
CONFIG_RD_LZ4=n
#    Compiler optimization level (Optimize for size)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
#    -> Configure standard kernel features (expert users)
#       [*] Enable support for printk
CONFIG_PRINTK=y
#    Choose SLAB allocator (SLOB (Simple Allocator))
CONFIG_SLOB=y

# -> Processor type and features
#    [ ] Sparse Memory virtual memmap
CONFIG_SPARSEMEM_VMEMMAP=n

# -> Executable file formats / Emulations
#    [*] Kernel support for ELF binaries
CONFIG_BINFMT_ELF=y
#    [*] Kernel support for scripts starting with #!
CONFIG_BINFMT_SCRIPT=y


# -> Device Drivers
#    -> Generic Driver Options
#       [*] Maintain a devtmpfs filesystem to mount at /dev
CONFIG_DEVTMPFS=y
#    -> Character devices
#       [*] Enable TTY
CONFIG_TTY=y
#       [ ] Virtual terminal
CONFIG_VT=n
#       [ ] Unix98 PTY support
CONFIG_UNIX98_PTYS=n
#       [ ] Legacy (BSD) PTY support
CONFIG_LEGACY_PTYS=n
#       -> Serial drivers
#          [*] 8250/16550 and compatible serial support
CONFIG_SERIAL_8250=y
#          [ ] Support 8250_core.* kernel options (DEPRECATED)
CONFIG_SERIAL_8250_DEPRECATED_OPTIONS=n
#          [*] Console on 8250/16550 and compatible serial port
CONFIG_SERIAL_8250_CONSOLE=y
#    -> Input device support
#       [ ] Generic input layer (needed for keyboard, mouse, ...)
CONFIG_INPUT=n


# -> File systems
#    -> Pseudo filesystems
#       [*] /proc file system support
CONFIG_PROC_FS=y
#       [*] Sysctl support (/proc/sys)
CONFIG_PROC_SYSCTL=y
#       [*] sysfs file system support
CONFIG_SYSFS=y
