# All of https://github.com/systemd/systemd/blob/master/README
# Except:
#   - EFI
#   - other file systems (btrfs, ext4...) posix acl

CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_NET=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_SYSFS_DEPRECATED=n
CONFIG_FW_LOADER_USER_HELPER=n
# DMI is needed by DMIID
CONFIG_DMI=y
CONFIG_DMIID=y
# MULTIUSER is needed by NAMESPACES
CONFIG_MULTIUSER=y
# NAMESPACES is needed by NET_NS
CONFIG_NAMESPACES=y
CONFIG_NET_NS=y
# BLOCK is needed by BLK_DEV_BSG
CONFIG_BLOCK=y
CONFIG_BLK_DEV_BSG=y
# DEVPTS_MULTIPLE_INSTANCES doesn't exist anymore
# CONFIG_DEVPTS_MULTIPLE_INSTANCES=y
CONFIG_INET=y
CONFIG_IPV6=y
CONFIG_AUTOFS4_FS=y
# SHM is needed by TMPFS
CONFIG_SHMEM=y
CONFIG_TMPFS=y
CONFIG_TMPFS_XATTR=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y

# Not mentioned but required:
# Not mentioned but required otherwise systemctl doesn't work
CONFIG_UNIX=y

# Remove default options that are not required
# Without those kernel is at ~1.4M
# With they are down to ~1.2M

CONFIG_SWAP=n
CONFIG_CGROUP_SCHED=n
CONFIG_FAIR_GROUP_SCHED=n
CONFIG_CFS_BANDWIDTH=n
CONFIG_UTS_NS=n
CONFIG_PID_NS=n
CONFIG_MSDOS_PARTITION=n
CONFIG_EFI_PARTITION=n
CONFIG_IOSCHED_DEADLINE=n
CONFIG_IOSCHED_CFQ=n
CONFIG_DEFAULT_CFQ=n
CONFIG_DEFAULT_NOOP=y
CONFIG_DEFAULT_IOSCHED="noop"
CONFIG_XFRM=n
CONFIG_NET_IP_TUNNEL=n
CONFIG_INET_TUNNEL=n
CONFIG_INET_XFRM_MODE_TRANSPORT=n
CONFIG_INET_XFRM_MODE_TUNNEL=n
CONFIG_INET_XFRM_MODE_BEET=n
CONFIG_INET_DIAG=n
CONFIG_INET_TCP_DIAG=n
CONFIG_INET6_XFRM_MODE_TRANSPORT=n
CONFIG_INET6_XFRM_MODE_TUNNEL=n
CONFIG_INET6_XFRM_MODE_BEET=n
CONFIG_IPV6_SIT=n
CONFIG_WIRELESS=n
